/* Set default font and background colors */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

/* Style the header */
h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 1em 0;
  text-align: center;
  background-color: #333;
  color: #fff;
}

/* Style the form */
form {
  margin: 2em auto;
  max-width: 600px;
  padding: 2em;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style form labels and inputs */
label {
  display: block;
  margin-bottom: 1em;
}

input[type="text"],
input[type="number"],
textarea {
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
}

textarea {
  height: 6em;
}

/* Style form buttons */
input[type="submit"] {
  display: block;
  margin: 1em auto 0;
  padding: 0.5em 2em;
  background-color: #00FFFF;
  color: #fff;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #00FFFF;
}

/* Style error messages */
.error {
  color: red;
  font-size: 0.8em;
  margin-top: 0.5em;
}
.header {
  background-color: #00FFFF;
  color: #fff;
  text-align: center;
  padding: 20px;
  display :flex ;
  justify-content: space-between;
  
}
a:link {
  text-decoration: none;
  color: #fff;
}
